CLIENT_ID=YOURS
CLIENT_SECRET=YOURS
42_AUTHORIZE_URL=https://api.intra.42.fr/oauth/authorize
42_TOKEN_URL=https://api.intra.42.fr/oauth/token
42_API_ME_URL=https://api.intra.42.fr/v2/me
FRONT_END_REDIRECT_URL=http://10.13.5.8:5173/Intra/callback/
# fill this with your secret and copy it to .env
